.button {
	border: none;
	padding: 0.75rem 3rem;
	border-radius: 1.8rem;
	cursor: pointer;
	outline: none;
	display: block;

	&__primary {
		background: var(--primary-color);
		color: white;
	}

	&__secondary {
		background: var(--secondary-color);
		color: white;
	}

	&__danger {
		background: var(--danger-color);
		color: white;
	}
}
