.button {
	border: none;
	padding: 0.75rem 3rem;
	border-radius: 1.8rem;
	cursor: pointer;
	outline: none;

	&__.primary {
		background: var(--primary-color);
		color: white;
	}

	&__.secondary {
		background: var(--secondary-color);
		color: white;
	}

	&__.danger {
		background: var(--danger-color);
		color: white;
	}
}
